@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
body{
    font-family: 'DM', sans-serif;
    color: #eff0f9;
    background-image: url(backgroundv2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    width: 200px;
    height: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    margin-top: 15px;
    margin-left: 600px;
}

label{
    display: block;
    margin-top: 10px;
}

label, a{
    margin-top: 10px;
}

img{
    border: 5px solid #7b00ff;
    margin-top: 230px;
    margin-left: 180px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.lineher{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
}

.line{
    margin-top: 80px; ;
    margin-left: 400px;
    height: 5px;
    width: 70px;
    background-color: #7b00ff;
    border-radius: 50px;
}

.nomeECurso{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 600px;
}

.imagem{
    margin-bottom: 230px;
}

.controlLabel1{
    margin-bottom: 10px;
}

.curiosidade{
    margin-top: -10px;
}